@import "tailwindcss";

:root {
  --border-p3: oklch(1 0 0 / 50%);
  --border-rec2020: oklch(1 0 0 / 75%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-p3: oklch(0 0 0 / 30%);
    --border-rec2020: oklch(0 0 0 / 50%);
  }
}
